@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

.container {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #121212;
  font-family: 'Exo 2', sans-serif;
}